<h2>Artist: <%= @artist.name<%></h2>
<table style = "width:50%">
  <tr>
    <th>Stages:</th>
  </tr>
  <% @stages.each do |stage| %>
  <tr>
    <th><h4><a href="/stages/<%= stage.id%>"><%= stage.name %></a><h4></th>
  <% end %>
</tr>
</table>
<hr>
<h3>Update Artist</h3>
<form action ="/artists/<%= @artist.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Change Name</label>
    <input class="form-control" type="text" name="name">
  </div>
  <button class="btn btn-default" type ="submit">Edit Name</button>
</form><br>

<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-default" type="submit">Delete Artist</button>
</form><br>

<a href="/producer_form">Producer Form</a>
